/* Style header */
h1{
	text-align: center;
	font-size: 3em;
}

#undername{
	text-align: center;
	font-style: italic;
	font-size: 1em;
}

#soustitre {
	font-size: 3em;
	text-align: center;
	margin-bottom: 1em;
}

/* Style menu navigation */
#nav{
	font-size: 3em;

}

/* Style Post */
#postelement{
	padding-top: 1em;
	border-top: 1px solid black;
}

#pseudopostelement{
	font-size: 1.5em;
}

#idpostelement{
	font-size: 1.5em;
	margin-left: 0.5%;
}

#textpostelement{
	text-align: justify;
}

#commentlike p{
	font-size: 1em;
}

/* Style fil d'actualité*/



/* Style Footer */

footer{
	border-top: 1px solid grey;
	padding-top: 1em;
}

#soustitrefooter{
	margin-left: 2em;
}